<h3>First view</h3>
<form id="form">
    Nombre: <input type="text" name="name" id="name">
    <input type="submit" value="SEND">
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>